a{
    color: #4c4;
    display: block;
    line-height: 3em;
}
a:hover{
    color: #777;
}
b{
    font-size: 142%;
}
body{
    background: #000;
    color: #aaa;
    font-family: sans-serif;
    text-align: center;
}
table{
    display: inline-block;
    margin: auto;
    vertical-align: top;
}
td{
    border-bottom: 1px solid #555;
}
td:nth-child(2) a{
    color: #f70;
}
.zip{
    color: #19f;
}
