a{
    color: #4c4;
}
body{
    background: #000;
    color: #aaa;
    font-family: monospace;
    font-size: 14px;
    font-weight: bold;
}
.external{
    color: #f70;
}
.header{
    background: #333;
}
table{
    border-collapse: collapse;
    margin: auto;
    text-align: left;
}
td{
    border: 1px solid #555;
    padding: 9px;
    vertical-align: top;
}
ul{
    margin: 0;
    padding-left: 20px;
}

a:hover{
    color: #777;
}
tr:hover{
    background: #333;
}
