a{
    color: #4c4;
}
body{
    background: #000;
    color: #aaa;
    font: bold 14px monospace;
    line-height: 2em;
    text-align: center;
}
.external{
    color: #f70;
}

a:hover{
    color: #777;
}
