a{
    color: #4c4;
    display: block;
}
body{
    background: #000;
    color: #aaa;
    font-family: monospace;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
.dl a{
    color: #19f;
    display: inline-block;
}
.dl a:first-child,
.external{
    color: #f70;
}
table{
    display: inline-block;
    text-align: left;
    vertical-align: top;
}
td{
    border-bottom: 1px solid #555;
    line-height: 3em;
}

a:hover,
.dl a:hover,
td:nth-child(2) a:hover{
    color: #777;
}
