#blockedPopupsSeparator,
#context-add-engine,
#context-bookmarklink,
#context-copyaudiourl,
#context-copyvideourl,
#context-media-eme-separator,
#context-media-sep-commands,
#context-media-sep-video-commands,
#context-print-selection,
#context-reveal-password,
#context-savelink,
#context-savepage,
#context-savevideo,
#context-sendaudio,
#context-sendimage,
#context-sendlinktodevice,
#context-sendpagetodevice,
#context-sendvideo,
#context-sep-copylink,
#context-sep-highlights,
#context-sep-navigation,
#context-sep-open,
#context-sep-pdfjs-redo,
#context-sep-pdfjs-selectall,
#context-sep-redo,
#context-sep-screenshots,
#context-sep-selectall,
#context-sep-sendlinktodevice,
#context-sep-setbackground,
#context-sep-sharing,
#context-sep-viewsource-commands,
#context-setDesktopBackground,
#context-take-screenshot,
#context-translate-selection,
#context-video-pictureinpicture,
#context-video-saveimage,
#context-viewvideo,
#context_bookmarkSelectedTabs,
#context_bookmarkTab,
#context_closeDuplicateTabs,
#context_closeTabOptions,
#context_duplicateTab,
#context_duplicateTabs,
#context_moveTabOptions,
#context_moveTabToNewGroup,
#context_pinSelectedTabs,
#context_pinTab,
#context_reloadTab,
#context_reloadSelectedTabs,
#context_selectAllTabs,
#context_sendTabToDevice,
#context_ungroupTab,
#context_unpinSelectedTabs,
#context_unpinTab,
#frame-sep,
#inspect-separator,
#manage-saved-logins,
#passwordmgr-items-separator,
#placesContext_copy,
#placesContext_cut,
#placesContext_deleteBookmark,
#placesContext_deleteFolder,
#placesContext_deleteSeparator,
#placesContext_editSeparator,
#placesContext_new\00003Abookmark,
#placesContext_new\00003Afolder,
#placesContext_new\00003Aseparator,
#placesContext_newSeparator,
#placesContext_openBookmarkContainer\00003Atabs,
#placesContext_openBookmarkLinks\00003Atabs,
#placesContext_openSeparator,
#placesContext_paste,
#placesContext_paste_group,
#placesContext_pasteSeparator,
#placesContext_show\00003Ainfo,
#placesContext_show_bookmark\00003Ainfo,
#placesContext_show_folder\00003Ainfo,
#placesContext_sortBy\00003Aname,
#sidebar-menu-close,
#sidebarRevampSeparator,
#spell-add-dictionaries-main,
#spell-check-enabled,
#spell-separator,
#spell-suggestions-separator,
#toolbar-context-bookmarkSelectedTab,
#toolbar-context-move-to-panel,
#toolbar-context-reloadSelectedTab,
#toolbar-context-remove-extension,
#toolbar-context-remove-from-toolbar,
#toolbar-context-report-extension,
#toolbar-context-selectAllTabs,
#toolbar-context-toggle-vertical-tabs,
.tabbrowser-tab .tab-close-button,
menuseparator {
    display: none !important;
}
